<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navigation.css">
	<link rel="stylesheet" href="../static/css/base.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-box">
		<nav class="navbar">
			<h1 onclick="goHome()" class="logo"></h1>
			<ul class="base_ul" id="base_ul">
			</ul>
		</nav>
	</div>
    <h1>User Account</h1>

    <script src="../static/scripts/api_get_loging.js"></script>
    <script src="../static/scripts/api_home.js"></script>
</body>
</html>