<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navigation.css">
	<link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/registration_style.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-box">
		<nav class="navbar">
			<h1 onclick="goHome()" class="logo"></h1>
			<ul class="base_ul" id="base_ul">
			</ul>
		</nav>
	</div>
    <div class="form-container">
        <h2>Create an Account</h2>
        <form action="#" method="post" id="registrationForm">
            
            <div class="form-group">
                <input type="email" id="email" placeholder="email" name="registerEmail" required>
            </div>
            <div class="form-group">
                <input type="text" placeholder="username" id="username" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="password" name="registerPassword" id="password" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="comfirm password" name="retypePassword" id="comfirm_password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" id="submit">
            </div>
            <div class="form-group">
                <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
            </div>
            <div class="switch">
                <p>Already have an account? <a href="api_login.html">Login here</a></p>
            </div>
        </form>
    </div>
    <script src="../static/scripts/api_register.js"></script>
    <script src="../static/scripts/api_home.js"></script>
</body>
</html>
