<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Login</title>
	<script src="https://kit.fontawesome.com/673cfa2228.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../static/css/navigation.css">
	<link rel="stylesheet" href="../static/css/base.css">
	<meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
	<div class="nav-box">
		<nav class="navbar">
			<h1>Logo</h1>
			<ul class="base_ul">
				<li><a href="api_login.html">login</a></li>
				<li><a href="api_register.html">register</a></li>
				<li><a href="api_logout.html">Logout</a></li>
			</ul>
		</nav>
	</div>
    </body>
</html>
