<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
	{% block css %}
	{% endblock %}
	<script src="https://kit.fontawesome.com/673cfa2228.js" crossorigin="anonymous"></script>
	<meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
        <div class="alerts">
			{% with messages = get_flashed_messages(with_categories=True) %}
				<div class="flashes">
					{% for category, message in messages %}
						<span class="alert-item {{ category }}" style="color: white;">{{ message }}</span>
					{% endfor %}
				</div>
			{% endwith %}
        </div>
		{% block content %}{% endblock %}
		<script src="./static/scripts/login_script.js"></script>
		<script src="../static/scripts/registration_script.js"></script>
		<script src="../static/scripts/modal.js"></script>
		{% if id %}
		{% else %}
		<script src="../static/scripts/api.js"></script>
		{% endif %}
    </body>
</html>
