<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home_page.css">
    <link rel="stylesheet" href="../static//css/base.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to MusicIO</h1>
    <div class="container">
        <div class="playlists">
            <div class="btn-card card">
                <h1>+</h1>
            </div>
            <div class="card"></div>
        </div>
    </div>
</body>
</html>