<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/673cfa2228.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/navigation.css">
	<link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/render_api_playlist.css">
</head>
<body>
    <div class="nav-box">
		<nav class="navbar">
			<h1 onclick="goHome()" class="logo"></h1>
			<ul class="base_ul" id="base_ul">
			</ul>
		</nav>
	</div>
    <div class="container">
        <div class="playlists">
            <div class="btn-card card" onclick="openModal()">
                <h1>+</h1>
            </div>
        </div>
    </div>
    </div>
    <div id="myModal" class="overlay">
        <div class="modal">
            <form>
                <input type="file" name="file" accept=".mp3, .ogg, .wav" class="upload" id="fileInput" required>
                <label for="fileInput" class="custom-upload-btn">Upload Song</label>
                <span class="file-name" id="fileName">No Song Uploaded</span>
                <input type="text" name="title" id="title" placeholder="music title" required>
                <input type="text" name="playlist_name" id="playlist_name" placeholder="Playlist name" required>
                <input type="text" name="artist_name" id="artist_name" placeholder="Artist Name" required>
                <input type="submit" id="submit" value="submit">
            </form>
        </div>
    </div>
    <script src="../static/scripts/render_api_playlist.js"></script>
    <script src="../static/scripts/modal.js"></script>
    <script src="../static/scripts/api_home.js"></script>
</body>
</html>
