<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" href="../static/css/base.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    
    <script src="https://kit.fontawesome.com/ab1f2130e0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1 style="margin-top: 80px; color: rgb(104, 9, 104); text-align: center; font-weight: bolder;">Like Analytics</h1>
    <canvas id="plot2d"></canvas>
    <div class="nav-box">
		<nav class="navbar">
			<h1 onclick="goHome()" class="logo"></h1>
			<ul class="base_ul" id="base_ul">
			</ul>
		</nav>
	</div>
    <script src="../static/scripts/api_home.js"></script>
    <script src="../static/scripts/like.js"></script>
</body>
</html>