{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="./static/css/login_style.css">
{% endblock css %}
{% block title %}Login Form{% endblock %}
{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form action="#" method="post">
            <div class="form-group">
                <input type="email" id="loginUsername" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <input type="password" id="loginPassword" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <div class="switch">
                <p>Forgot password? <a href="/reset_password" class="a-tag">Reset</a></p>
            </div>
	        <div class="switch">
                <p>Don't have an account? <a href="/signup" class="a-tag">Register here</a></p>
            </div>
        </form>
    </div>
{% endblock %}
