<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/new_playlist.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab1f2130e0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="../templates/image/Logo.png" class="Logo">

            <a href="../templates/registration.html">Register</a>
            <a href="../templates/login.html">Login</a>
            <a href="../templates/about.html">About</a>
            <a href="../templates/homepage.html">Home</a>
        </div>
    </header>

    <div class="container">
        <h1>Songs</h1>

        <div class="box">
            <ul class="playlist">
                <li><a href="#">Unstoppable<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Broken<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Hello<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Best Friend<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Angel<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Rise Up<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Brave<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Unstoppable<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Broken<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Hello<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#">Best Friend<i class="fa-solid fa-play"></i><i class="fa-regular fa-heart"></i></a></li>

            </ul>
        </div>
    </div>


    <footer class="Footer">
        <a href="../templates/registration.html">Register</a>
        <a href="../templates/login.html">Login</a>
        <a href="../templates/about.html">About</a>
        <a href="../templates/songs.html">Products</a>
    </footer>
</body>
</html>