{% extends 'base.html' %}
{% block title %}
songs
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_playlist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/song_list.css' ) }}">
{% endblock css %}
{% block content %}
<div class="container">
    <h1>Songs</h1>
    <div class="box">
        {% for song in songs %}
            <ul class="playlist">
                <audio class="control-music" data-song-id="{{ song.id }}">
                    <source src="{{ url_for('static', filename=song.song_path) }}">
                </audio>
                <li>
                    <div>
                        <a class="music">{{ song.title }}</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-play i" id="play-{{ song.id }}" data-music-id="{{ song.id }}"></i>
                        <i class="fa-solid fa-pause i" id="pause-{{ song.id }}" data-music-id="{{ song.id }}"></i>
                        <i class="fa-regular fa-heart i"></i>
                        <i class="fa-solid fa-heart" id="heart"></i>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
</div>
<ul class="song_ul" id="song">
    <li>
        <p role="title" id="title"></p>
        <div class="control">
            <input type="range" value="0" class="range" id="range">
        </div>
        <div class="icons">
            <div>
                <i class="fa-solid fa-shuffle other" id="shuffle_song"></i>
                <i class="fa-solid fa-repeat other" id="repeat"></i>
            </div>
            <div>
                <i class="fa-solid fa-forward-step other" id="forward"></i>
                <i class="fa-solid fa-play other" id="play"></i>
                <i class="fa-solid fa-pause other" id="pause"></i>
                <i class="fa-solid fa-backward-step other" id="back"></i>
            </div>
            <div>
                <i class="fa-regular fa-heart other"></i>
                <i class="fa-solid fa-heart other" id="heart"></i>
                <i class="fa-solid fa-download other" id="download"></i>
            </div>
        </div>
    </li>
</ul>
<script src="{{ url_for('static', filename='scripts/new_playlist.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='scripts/song_list_script.js') }}"></script> -->
{% endblock %}
