<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/player.css">
    <script src="https://kit.fontawesome.com/673cfa2228.js" crossorigin="anonymous"></script>
    <title>Music Player Page</title>
</head>
<body>
    <div class="container">
        <div class="music-player">
            <nav>
                <div class="circle">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="circle">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>

            <img src="../static/images/image2.jpg" class="song-img">
            <h1 class="songName()">Best Friend</h1>
            <p class="artistName()">Saweetie</p>

            <audio id="song">
                <source src="../static/musics/Saweetie - Best Friend (Lyrics) FT. Doja Cat _ That_s my bestfriend she a real bad bitch (128  kbps) (1) 1.mp3" type="audio/mpeg">
            </audio>
            <input type="range" value="0" id="progress">

            <div class="controls">
                <div><i class="fa-solid fa-backward"></i></div>
                <div onclick="playPause()"><i class="fa-solid fa-play" id="ctrlIcon"></i></div>
                <div><i class="fa-solid fa-forward"></i></div>

            </div>
        </div>
    </div>
    <script src="../static/scripts/player_script.js"></script>
</body>
</html>