<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab1f2130e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>Profile Page</title>
</head>
<body>
    <div class="wrapper">
        <div class="card">
            <i class="fa-regular fa-user"></i>
            <h2>Username</h2>
        </div>
        <div class="columns">
            <div class="favourites">
                <i class="fa-solid fa-star"></i>
                <h4>Favourites</h4>
            </div>
            <div class="settings">
                <i class="fa-solid fa-gear"></i>
                <h4>Settings</h4>
            </div>
            <div class="comments">
                <i class="fa-solid fa-comments"></i>
                <h4>Comments</h4>
            </div>
        </div>
    </div>
</body>
</html>