{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="../static/css/registration_style.css">
<meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID">
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
{% block title %}<title>Registration Form</title>{% endblock %}
{% block content %}
   <div class="form-container">
        <h5>Welcome!</h5>
        <h2>Create an Account</h2>
        <form action="#" method="post">
            
            <div class="form-group">
                <label for="registerEmail">Email address:</label>
                <input type="email" id="registerEmail" name="email" required>
            </div>
	    <div class="form-group">
                <label for="registerEmail">Username:</label>
                <input type="text" id="registerUsername" name="username" required>
            </div>
            <div class="form-group">
                <label for="registerPassword">Password:</label>
                <input type="password" name="registerPassword" id="password" required>
            </div>
            <div class="form-group">
                <label for="retypePassword">Retype password:</label>
                <input type="password" name="confirm_password" id="retypePassword" required>
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
            <div class="form-group">
                <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
            </div>
            <div class="switch">
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
        </form>
    </div>
  {% endblock %}
  {% block scripts %}<script src="../static/scripts/registration_script.js"></script>{% endblock %}
