<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registration_style.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID">
    <title>Registration Form</title>
</head>
<body>

    <div class="form-container">
        <h5>Welcome!</h5>
        <h2>Create an Account</h2>
        <form action="#" method="post" id="registrationForm">
            <div class="form-group">
                <label for="registerEmail">Email address:</label>
                <input type="email" id="registerEmail" name="registerEmail" required>
            </div>
            <div class="form-group">
                <label for="registerPassword">Password:</label>
                <input type="password" name="registerPassword" id="registerPassword" required>
            </div>
            <div class="form-group">
                <label for="retypePassword">Retype password:</label>
                <input type="password" name="retypePassword" id="retypePassword" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" id="submit">
            </div>
            <div class="form-group">
                <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
            </div>
            <div class="switch">
                <p>Already have an account? <a href="login.html">Login here</a></p>
            </div>
        </form>
    </div>
    <script src="../static/scripts/registration_script.js"></script>
</body>
</html>