<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navigation.css">
	<link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/registration_style.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-box">
		<nav class="navbar">
			<h1 onclick="goHome()">Logo</h1>
			<ul class="base_ul" id="base_ul">
			</ul>
		</nav>
	</div>
    <div class="form-container">
        <h2>Enter your email to reset password</h2>
        <form method="post">
            <div class="form-group">
                <label for="email">Registered Email:</label>
                <input type="email" id="email" name="reset_email" required>
            </div>
            <div class="form-group">
                <button type="submit" id="submit">Reset</button>
            </div>
        </form>
    </div>
    <script src="../static/scripts/api_home.js"></script>
    <script src="../static/scripts/api_reset_password.js"></script>
    <script src="../static/scripts/api_set_password.js"></script>
</body>
</html>
