<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/settings.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Settings</h1>

        <div class="update_form">
            <form action="">
                <div class="input">
                    <input type="text" placeholder="Update Playlist Name">
                </div>
                <div class="button">
                    <button>Submit</button>
                </div>
            </form>
        </div>

        <div class="red-btn">

            <div class="others">
                    <button>Delete Playlist</button>
            </div>
            <div class="others">
                <button>Delete Account</button>
            </div>
        </div>
                
        </div>
    </div>
</body>
</html>