body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: auto auto;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.box {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    position: relative;
}

.playlist {
    list-style: none;
    padding: 0;
}

.playlist li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 1em;
}

.playlist li a {
    color: blue;
    text-decoration: underline;
}
.playlist li:nth-child(even) {
    background-color: #d6d3d3;
}


.fa-play,
.fa-heart {
    color: #3498db;
    padding: 5px;
    margin-right: 20px;
}

.fa-play {
    margin-left: auto;
}

/* song list styles */
.song_ul {
    display: none;
}
/* .fa-play:hover {
    color: #e41b1b;
}

.fa-heart:hover {
    color: #e41b1b;
} */
