* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    height: 80vh;
    margin: 80px auto auto;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: auto; */
}

.card {
    width: 200px;
    height: 200px;
    background-color: rgb(48, 38, 48);
    margin: 0.5em;
    border-radius: 10px;
    position: relative;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(163, 200, 237, 1) 0px 8px 24px 8px;
}

.btn-card h1 {
    position: absolute;
    font-size: 15rem;
    color: white;
    left: 15%;
    top: -20%;
}

.card i {
    position: absolute;
    font-size: 5rem;
    left: 35%;
    top: 20%;
    color: white;
}

.text {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    font-size: 1rem;
    padding: 1em;
    font-weight: bolder;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal {
    max-width: 400px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
}

.form-input {
    max-width: 400px;
    width: 400px;
    height: 400px;
    padding: 1em;
}

input[type="text"] {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(75, 15, 15);
}

input {
    font-size: 1rem;
    width: 80%;
    padding: 1rem;
    margin-bottom: 2em;
    border-radius: 10px;
    border: none;
    margin-bottom: 2.2em;
}

input[value="submit"]:hover {
    cursor: pointer;
    background-color: blueviolet;
}

.upload {
    display: none;
}

label {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 0.3em;
}

span.file-name {
    margin-bottom: 3em;
}

.custom-upload-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.file-name {
    display: inline-block;
    margin-left: 10px;
}
