.container {
    margin-top: 60px;
    padding: 20px;
    /* background-color: #fff; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #0a0a0a;
    text-align: center;
}

.update_form {
    width: 600px;
    height: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

input {
    padding: 15px;
    width: 100%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 17px;
}

.input :hover {
    background-color: #dfdede;
}

.update_form button {
    padding: 10px 20px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #04048b;
}

.red-btn {
    margin-top: 20px;
    width: 600px;
    height: 200px;
    background-color: #efecec;
    padding: 20px;
    border-radius: 10px;
}

.others {
    margin-top: 20px;
    text-align: center;
}

.others button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
}

.others button:hover {
    background-color: #c9302c;
}